@import url("./font.css");
.excd-progress-circle {
  display: block;
  height: 200px;
  width: 200px;
  margin: 20% auto;
  border-radius: 100%;
  position: relative;
  color: #666666;
  text-align: center;
}

.excd-progress-circle:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  content: attr(data-pct) "%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  font-weight: bold;
}

.excd-progress-circle-svg circle {
  stroke-dashoffset: 565.48;
  -webkit-transition: stroke-dashoffset 1s linear;
  transition: stroke-dashoffset 1s linear;
  stroke: #666666;
}

.excd-progress-circle-svg .excd-progress-circle-bar {
  stroke: #3cbcad;
  stroke-width: 20px;
}
