<style type="text/css"> 
  @import url("/public/css/loading_spinner.css"); 
</style>
  
<div class="loading-block">
  <div id="loading-spinner"></div>

<script src="/public/js/fr_loading.js"></script>
 