<style type="text/css">
    @import url("/public/css/map_view_module.css");
</style>

<div class="map-contents" style="height: 100%;">
    <div class="map-container" id="geoMap" style="height: 100%;"></div>
</div>


<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gzqmt26iju"></script>