<style type="text/css">
  @import url("/public/css/map_module.css");
</style>

<div class="map-contents">
  <div class="map-container" id="excdMap"></div>
</div>

<div class="excd-map-btn-bar contents-row">
  <div class="excd-btn excd-btn-small" id="full-map">화면 늘리기</div>
  <div class="excd-btn excd-btn-small display-none" id="small-map">화면 줄이기</div>
  <div class="excd-btn excd-btn-small" id="hide-map">지도 숨기기</div>
</div>

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gzqmt26iju"></script>

<!-- <script src="/public/js/module/fr_map_module.js" type="module"></script> -->
