<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ./common/head %>
    
    <!-- Custom-Link -->
<!--    <link rel="stylesheet" href="/public/css/signup.css">-->
    
    <title>사용자 계정생성</title>
    <meta name="description" content="R-RFMS 사용자 계정 생성"/>
    <meta property="og:title" content="사용자 계정 생성">
    <meta property="og:description" content="R-RFMS 사용자 계정 생성"/>

  </head>
  <body>
    <div class="main-container">  
      <%- include('common/header', {user: user}) %>
      
      <div class="app-container">
    
        <%- include('common/menubar', {menuBarShrink : menuBarShrink})%>

        <div class="contents-container <%= (typeof menuBarShrink !=='undefined' && menuBarShrink =='true') ? 'contents-container-wide' : '' %>">
          <div class="contents-title">
            <div class="title-text">계정 생성</div>
          </div>

          <%- include('common/user_info_module', {mode : 'new', user : user, userType: userType, userSttus: userSttus} )%>
        </div>
      </div>
    </div>

    <% include ./common/default_js %>
        
    <script src="/public/js/fr_signup.js"></script>
  </body>
</html>