@import url("./font.css");

// default color
$color-primary: #3cbcad;
$color-primary-light: #c2e0dd;
$color-primary-dark: #30988b;
$color-secondary: #fa8d4d;
$color-secondary-dark: #f96f1c;
$color-third: #36C2E6;
$color-third-dark: #11728a;
$color-title-bg: #5b5b5b;
$color-fourth: #e662e6;
$color-fourth-dark: #914391;
$color-fourth-bg: #5b5b5b;

$color-yellow: #FFC251;
$color-yellow-dark: #E89805;

$color-bg-default: white;
$color-bg-gray: #ececf2;
$color-bg-gray-dark: #dddde8;

$color-text-default: #5b5b5b;
$color-text-default-dark: #2c2c2c;
$color-text-default-disabled: #a6a6a6;
$color-text-white: white;

$color-msg-warning: #dd0000;

$color-gray0 : #eeeeee;
$color-gray1 : #dddddd;
$color-gray2 : #bbbbbb;
$color-gray3 : #999999;
$color-gray4 : #777777;
$color-gray5 : #555555;
$color-gray6 : #333333;
$color-gray7 : #111111;

$color-file-zip : #e45334;
$color-file-img : #116f4b;
$color-file-las : #064f91;
$color-file-meta : #7c09a8;
$color-file-pkg : #eb3857;
$color-exif : #1238e0;

$color-disabled : #eeeeee;

// size
$max-width : 1800px;
$header-height: 66px;
$logo-width : 300px;

$contents-padding-left : 40px;

// font-size
$font-contents-title : 18px;
$font-contents-group : 16px;
$font-contents : 14px;

